nav ul {
    list-style: none;
    background-color: none;
    text-align: center;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-size: 30px;
    
  }
  
  nav ul li a:hover {
    text-decoration:double underline;
  }
  body {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white; /* hogy jól látszódjon a szöveg */
  }
  section.intro{
    text-align: center;
    font-size: 22px;
    
  }
  section.content{
    text-align: center;
    font-size: 22px;
  }
  section.content1{
    text-align: center;
    font-size: 22px;
  }
  section.content2{
    text-align: center;
    font-size: 22px;
  }
  footer{
    
    color: white;
    text-align: center;
    padding: 10px 0;
    
  }
 